# Logs
logs
*.log
npm-debug.log*

#Runtime data
pids
*.pid
*.seed

#Directory for instrumented libs
lib-cov

#Coverage dir
coverage

# compiled binary addons
build/Release

# Dependency Directories
node_modules
jspm_packages

# npm cache
.npm
